body{
margin:0;

}
.container{
height:2000px;
padding-top:60px;
}
.nav{
display: flex;
justify-content:space-between;
height:60px;
padding:0 20px;
border-bottom: 2px solid #ccc;
box-sizing: border-box;
background-color: white;
position: fixed;
width:100vw;
}
.nav .left{
height: 100%;
display: flex;
align-items:center;

}
.nav .right{
height: 100%;
display:flex;
align-items:center;
}
.nav .left .logo{
width:130px;
height: 60px;
}
.split-line{
height: 25px;
width: 2px;
margin: 0 15px;
background-color: #ccc;
}
.link-list{
gap:10px;
display:flex;
font-size:14px;
color:#2f2f2f;
}
.link-list>a{
margin:0 12px;
color:#2f2f2f;
text-decoration:none;
}
.right .btn{
width: 56px;
height:32px;
background-color:rgb(245,108,108);
border:none;
color:white;
cursor:pointer;/*鼠标放上去变成拇指样式*/
border-radius:6px;
}
.function{
display:flex;
gap:20px;
}